@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller', sans-serif;
  background-color: #F1F1F1;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 70px;
}

.btn {
  display: inline-block;
  padding: 11px 20px;
  border-radius: 10px;
  border: 2px solid #CC9933;
  font-size: 16px;
  white-space: nowrap;
  color: #CC9933;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  transition-property: border-color background-color color;
  transition-duration: .3s;
  transition-timing-function: ease;
  color: white;
  border-color: #CC9933;
  background-color: #CC9933;
}

.btn:focus {
  transition-property: border-color background-color color;
  transition-duration: .3s;
  transition-timing-function: ease;
  color: white;
  border-color: #A47312;
  background-color: #A47312;
}

.text-center {
  text-align: center;
}

h2 {

  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.main-link:hover {
  transition: color .3s ease;
  color: #F0BF5F;
}

.main-link:active {
  transition: color .3s ease;
  color: #CC9933;
}

.main-link:focus {
  transition: color .3s ease;
  color: #A47312;
}

/* Header */
.header {
  display: flex;
  height: 154px;
  justify-content: space-between;
  margin-bottom: 70px;
}

.header-container {
  height: 100%;
  width: 100%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-leftside {
  display: flex;
  align-items: center;
}

.personal-account-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #CC9933;
}

/* .personal-account-img {
  display: inline-block;
  margin-right: 7px;
  height: 12px;
  width: 21px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
  background-image: url('/img/personal-account.svg');
} */

.personal-account-img path {
  transition: fill .3s ease;
}

.personal-account-link:hover .personal-account-img path {
  fill: #F0BF5F;
}

.personal-account-link:active .personal-account-img path {
  fill: #CC9933;
}

.personal-account-link:focus .personal-account-img path {
  fill: #A47312;
}

.header-phone {
  padding-left: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
}

.header-low {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: 70px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 45px;
  padding-right: 56px;

}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  white-space: nowrap;
  text-align: left;
  color: #666666;
}

.nav-link:hover {
  transition: color .3s ease;
  color: #CC9933;
}

.header-rightside {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 45px;
  padding-left: 57px;
  border-left: 1px solid #E1E1E1;
}

.header-rightside-item:not(:last-child) {
  margin-right: 40px;
}

/* Section Offers */
.offers-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 540px;

}

.offers-item {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /* margin-right: 23px; */
  /* margin-bottom: 23px; */
  font-family: 'Muller';
  color: #FFFFFF;

}

.offers-item-heading {
  display: block;
  width: 299px;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.offers-item-price {
  display: block;
  margin-bottom: 47px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.offers-item-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFCC66;
}

.offers-item-link:hover .light-svg {
  transition: all .3s ease;
  transform: translate(11px, 3.5px);
}

.offers-item-link:focus,
.offers-item-link:active {
  transition: color .3s ease;
  color: white;
}

.light-svg {
  background: url('/img/light-arrow.svg');
  display: inline-block;
  margin-left: 2px;
  height: 16px;
  width: 16px;
  background-size: contain;
  background-color: transparent;
  transform: translateY(3.5px);
}

.big-offers-item {
  padding-top: 211px;
}

.big-offers-item .offers-item-heading {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;

}

.img-15 {
  background-image: url('/img/Rectangle 15.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: inline-block;
  background-color: transparent;
  width: 573px;
  height: 258px;
}

.img-5 {
  background-image: url('/img/Rectangle 5.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: inline-block;
  background-color: transparent;
  width: 573px;
  height: 258px;
}

.img-331 {
  background-image: url('/img/33 1.jpg');
  /* PNG!!! */
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: inline-block;
  background-color: transparent;
  width: 573px;
  height: 540px;
}

/* About Us */
.info-text {
  width: 888px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

/* Section-services */
.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  display: block;
  height: 330px;
  width: 573px;
  background-color: white;
  margin-bottom: 23px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family: 'Muller';
}

.services-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services-item-link {
  display: block;
  padding-left: 45px;
  margin-top: 191px;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #CC9933;
}

.second-rectangle {
  margin-left: 3px;
  height: 16px;
  width: 16px;
  transform: translateY(3.5px);
}

.services-item-link:hover {
  transition: color .3s ease;
  color: #F0BF5F;
}

.second-rectangle path {
  transition: fill .3s ease;
}

.services-item-link:hover .second-rectangle path {
  transition: all .3s ease;
  transform: translate(5.5px);
}

.services-item-text {
  display: inline-block;
  padding-left: 45px;
  padding-right: 126px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.services-item-img10 {
  background-image: url('/img/10.png');
  background-repeat: no-repeat;
}

.services-item-img15 {
  background-image: url('/img/15.png');
  background-repeat: no-repeat;
}

.services-item-img12 {
  background-image: url('/img/12.png');
  background-repeat: no-repeat;
}

.services-item-img11 {
  background-image: url('/img/11.png');
  background-repeat: no-repeat;
}



/* Section-advantages */
.advantages-list {
  display: flex;
  flex-flow: row wrap;
}

.advantages-item {
  display: block;
  height: 275px;
  width: 275px;
  margin-right: 22px;
  margin-bottom: 22px;
  border-radius: 15px;
  background-color: white;
}

.advantages-item:nth-child(4n) {
  margin-right: 0px;
}

.advantages-item-text {
  display: inline-block;
  margin-left: 45px;
  margin-right: 42px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;

}

.advantages-svg {
  display: block;
  margin-top: 40px;
  margin-left: 45px;
  margin-bottom: 10px;
  height: 66px;
  width: 64px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: transparent;
}

.svg-bathtub {
  background-image: url('/img/bathtub.svg');
}

.svg-hanger {
  background-image: url('/img/hanger.svg');
}

.svg-heating {
  background-image: url('/img/heating.svg');
}

.svg-hotel-key {
  background-image: url('/img/hotel-key.svg');
}

.svg-parking {
  background-image: url('/img/parking.svg');
}

.svg-reception {
  background-image: url('/img/reception.svg');
}

.svg-security-box {
  background-image: url('/img/security-box.svg');
}

.svg-swimming-pool {
  background-image: url('/img/swimming-pool.svg');
}

/* Section-placement */
.placement-list {
  display: flex;
  flex: 1 1 33.33%;
  flex-flow: row wrap;

}

.placement-item {
  width: 374px;
  height: 440px;
  margin-right: 24px;
  margin-bottom: 23px;
  background-color: white;
  border-radius: 15px;
}

.placement-item:nth-child(3n) {
  margin-right: 0;
}

.placement-item-cost {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.placement-item-cost span {
  color: #999999;
}

.placement-item-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 36px;
}

.placement-last-item {
  background-image: url('/img/41.jpg');
}

.placement-item-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-right: 45px;
  margin-left: 45px;
}

.placement-item-name {
  display: block;
  margin-bottom: 16px;
  margin-left: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.placement-item-location {
  display: block;
  margin-left: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
}

.placement-item-btn {
  margin-top: 20px;
  margin-left: 45px;
}

.placement-last-item {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
}

.placement-last-item-link {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  padding-bottom: 27px;
  text-align: center;
  color: white;

}

.placement-last-item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.placement-last-item:hover {
  cursor: pointer;
}

.placement-last-item:hover .placement-last-item-link .rectangle {
  transition: all .3s ease;
  transform: translate(10px, 4px);
}

.rectangle {
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 5px;
  background-size: contain;
  background-color: transparent;
  transform: translateY(4px);
}

/* Section-form */
label {
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.form-heading {
  padding-top: 45px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 106px;
  width: 1080px;
  left: 420px;
  top: 4367px;
  border-radius: 15px;
  background-color: white;
}

.form-container {
  height: 256px;
  width: 1170px;
  left: 375px;
  top: 4262px;
  border-radius: 15px;
  background-color: #E9E9E9;
}

fieldset {
  border: 0;
}

select,
option,
input {
  border: none;
}

.input-number {
  width: 121px;
  border-bottom: 1px solid #E9E9E9;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
  background-image: url(/img/Select-arrow.svg);
  /* Add custom arrow */
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
}

.btn-submit {
  width: 108px;
  height: 42px;
}

/* Contacts */
.contacts-block {
  width: 1170px;
  height: 618px;
  border-radius: 15px;
  background-image: url(/img/Contacts-reception.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: calc(472px);
  background-color: #FFFFFF;
}

.contacts-list {
  padding-top: 45px;
  padding-left: 45px;
  width: 375px;
}

.contacts-list-item {
  display: flex;
  justify-content: space-between;
  width: 375px;
  padding-bottom: 22px;
  margin-bottom: 25px;
  border-bottom: 1px solid #E9E9E9;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.contacts-item-description {
  font-style: normal;
  max-width: 230px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.contacts-item-description a {
  display: inline-block;
  color: #CC9933;
}

.contacts-item-description small {
  display: inline-block;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.contacts-btn {
  padding: 27px 29.5px;
  margin-left: 45px;
  margin-top: 20px;
}

/* footer */
.footer-container {
  height: 341px;
  width: 1170px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: #333333;
  background-image: url('/img/Footer-logo.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: calc(740px);
}

.footer-link {
  color: #CC9933;
}

.leftside-text {
  display: inline-block;
  max-width: 302px;
  padding-top: 29px;
  margin-left: 45px;
  margin-right: 125px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
}

.middle-leftside-text {
  margin-top: 37px;
  margin-bottom: 40px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-contacts-list {
  display: inline-block;
  vertical-align: top;
  padding-top: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer-img-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-list-item address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.footer-social-list {
  display: inline-block;
  vertical-align: top;
  margin-left: 265px;
  padding-top: 45px;
}

.footer-social-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.footer-social-icon:hover path,
.footer-social-icon:focus path {
  transition: fill .3s ease;
  fill: #CC9933;
}

.footer-social-icon:active path {
  transition: fill .3s ease;
  fill: #A47312;
}