* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-family: sans-serif;
    background-color: #E5E5E5;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 70px;
}

.btn {
    display: inline-block;
    padding: 13px 20px;
    line-height: 1;
    font-size: 12px;
    background-color: white;
    color: #CC9933;
    border: 2px solid #CC9933;
    border-radius: 15px;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

h2 {
    margin-left: 40px;
    color: #333333;
    font-size: 40px;
}

/* Header */
.header {
    display: flex;
    height: 154px;
    justify-content: space-between;
    margin-bottom: 70px;
}

.header-container {
    height: 100%;
    width: 100%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-leftside {
    display: flex;
    align-items: center;
}

.personal-account-link {
    color: #CC9933;
}

.personal-account-img {
    display: inline-block;
    margin-right: 7px;
    height: 12px;
    width: 21px;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 100%;
    background-color: transparent;
    background-image: url('/img/personal-account.svg');
}

.header-phone {
    padding-left: 40px;
}

.header-low {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: 70px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 45px;
    padding-right: 56px;

}

.nav-item:not(:last-child) {
    margin-right: 45px;
}

.header-rightside {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 45px;
    padding-left: 57px;
    border-left: 1px solid #E1E1E1;
}

.header-rightside-item:not(:last-child) {
    margin-right: 40px;
}

/* Section Offers */
.offers-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 540px;

}

.offers-item {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /* margin-right: 23px; */
    /* margin-bottom: 23px; */
    font-family: 'Muller';
    color: #FFFFFF;

}

.offers-item-heading {
    width: 299px;
    display: block;
    margin-bottom: 15px;

    font-size: 40px;
}

.offers-item-price {
    display: block;
    margin-bottom: 47px;
}

.offers-item-link {
    font-size: 16px;
    color: #FFCC66;
}

.light-svg {
    background-image: url('/img/light-arrow.svg');
    display: inline-block;
    margin-left: 2px;
    height: 11px;
    width: 11px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 100%;
    background-color: transparent;
}

.big-offers-item {
    padding-top: 211px;
}

.big-offers-item .offers-item-heading {
    font-size: 60px;
}

.img-15 {
    background-image: url('/img/Rectangle 15.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: transparent;
    width: 573px;
    height: 258px;
}

.img-5 {
    background-image: url('/img/Rectangle 5.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: transparent;
    width: 573px;
    height: 258px;
}

.img-331 {
    background-image: url('/img/33 1.jpg');
    /* PNG!!! */
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: transparent;
    width: 573px;
    height: 540px;
}

/* About Us */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* Section-services */
.services-list {
    display: flex;
    flex-wrap: wrap;
}

.services-item {
    display: block;
    height: 330px;
    width: 573px;
    background-color: white;
    margin-bottom: 23px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: 'Muller';
}

.services-item:not(:nth-child(2n)) {
    margin-right: 23px;
}

.services-item-link{
    display: block;
    padding-left: 45px;
    margin-top: 191px;
    font-size: 20px;
    color: #CC9933;
}

.services-item-text{
    display: inline-block;
    padding-left: 45px;
    padding-right: 126px;
    font-size: 16px;
}

.services-item-img10 {
    background-image: url('/img/10.png');
    background-repeat: no-repeat;
}

.services-item-img15 {
    background-image: url('/img/15.png');
    background-repeat: no-repeat;
}

.services-item-img12 {
    background-image: url('/img/12.png');
    background-repeat: no-repeat;
}

.services-item-img11 {
    background-image: url('/img/11.png');
    background-repeat: no-repeat;
}

/* Section-advantages */
.advantages-list{
    display: flex;
    flex: 1 1 25%;
    flex-flow: row wrap;
    justify-content: space-between;
}

.advantages-item{
    display: block;
    height: 275px;
    width: 275px;
    margin-bottom: 23px;
    border-radius: 15px;
    background-color: white;
}

.advantages-item-text{
    display: inline-block;
    margin-left: 45px;
    margin-right: 42px;
}

.advantages-svg{
    display: block;
    margin-top: 40px;
    margin-left: 45px;
    margin-bottom: 10px;
    height: 66px;
    width: 64px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.svg-bathtub{
background-image: url('/img/bathtub.svg');
}

.svg-hanger{
    background-image: url('/img/hanger.svg');
}

.svg-heating{
    background-image: url('/img/heating.svg');
}

.svg-hotel-key{
    background-image: url('/img/hotel-key.svg');
}

.svg-parking{
    background-image: url('/img/parking.svg');
}

.svg-reception{
    background-image: url('/img/reception.svg');
}

.svg-security-box{
    background-image: url('/img/security-box.svg');
}

.svg-swimming-pool{
    background-image: url('/img/swimming-pool.svg');
}

/* Section-placement */
.placement-list{
    display: flex;
    flex: 1 1 33.33%;
    flex-flow: row wrap;
    justify-content: space-between;
}

.placement-item{
    width: 374px;
    height: 440px;
    margin-bottom: 23px;
    background-color: white;
    border-radius: 15px;
}

.placement-item-img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 36px;
}

.placement-last-item{
    background-image: url('/img/41.jpg');
}

.placement-item-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-right: 45px;
    margin-left: 45px;
}

.placement-item-name{
    display: block;
    margin-bottom: 16px;
    margin-left: 45px;
}

.placement-item-location{
    display: block;
    margin-left: 45px;
}

.placement-item-btn{    
    margin-top: 20px;
    margin-left: 45px;
}

.placement-last-item-link{
    display: block;
    text-align: center;
    margin-top: 373px;
    font-family: 'Muller';
    font-size: 20px;
    color: white;
}